/* Login Window Style */
/* ============================================================
 * LoginDialog - 登录对话框
 * ============================================================ */

#LoginDialog {
  background-color: #f8f6f1;
}

#LoginDialog #err_msg_label[state="normal"] {
  color: green;
}

#LoginDialog #err_msg_label[state="error"] {
  color: red;
}
