/* Login Window Style */

/* Login Window and Dialog Background */
#LoginDialog {
  background-color: #f8f6f1;
}

#err_msg_label[state="normal"] {
  color: green;
}

#err_msg_label[state="error"] {
  color: red;
}
