/* Register Window Style */
/* ============================================================
 * RegisterDialog - 注册对话框
 * ============================================================ */

#RegisterDialog {
  background-color: #f8f6f1;
}

#RegisterDialog #err_msg_label[state="normal"] {
  color: green;
}

#RegisterDialog #err_msg_label[state="error"] {
  color: red;
}
