/* Reset Password Window Style */
/* ============================================================
 * ResetPasswordDialog - 重置密码对话框
 * ============================================================ */

#ResetPasswordDialog {
  background-color: #f8f6f1;
}

#ResetPasswordDialog #err_msg_label[state="normal"] {
  color: green;
}

#ResetPasswordDialog #err_msg_label[state="error"] {
  color: red;
}
